body {
    background: rgb(131, 131, 214);
    font: normal 15px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;    /* bordas arredondadas */
    padding: 15px;          /* espaçamento dentro */
    width: 500px;
    margin: auto;           /* centralizar na tela */
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.315);  /* sombra, 3px deslocamento lateral, vertical e espalhamento */
}

select#flista {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}