body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-container{
    height: 210px;
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.d-flex{
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
}

button{
    width: 100px;
    margin-left: 50px;
}